/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 20, 23, 9:13:21 PM
    Author     : WINDOWS 10
*/

.white-bg{
    -fx-background-color: #fff;
}

.btn{
    -fx-background-color:#070536;
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.btn:hover{
    -fx-background-color: #070536;
}

.textfield{
    -fx-border-coior: #000;
    -fx-border-width: .5px;
}
.textfield:focused{
    -fx-border-color: #070536;
    -fx-border-width: .8px;
}

.login-btn{

}
